* {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 956px;

	margin: auto;
	font-family: Roboto, "Arial", sans-serif;
}
/*------------------------------------Header-----------------------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}
.header__content {
	height: 72px;
	max-width: 1124px;
	background-color: #ffffff;
	margin: auto;
	position: relative;
	box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.header__body {
	display: flex;
	max-width: 956px;
	height: 72px;
	margin: auto;
	justify-content: space-between;
}
.header__logo {
	margin: 30px 0 0 0;
}
.header__items {
	display: flex;
}
.header__sign-in {
	margin: 16px 27px 0 0;
}
.header__basket {
	margin: 24.21px 10px 0 0;
}
/*------------------------------------Search-----------------------------------------------------*/

.search {
	margin: 128px auto 0;
	max-width: 962px;
	height: 24px;
	display: flex;
	align-items: center;
}
.search__form {
	position: relative;
	width: 956px;
	background: #fff;
	border-bottom: 1px solid rgba(117, 117, 117, 0.3);
}
.search__form input {
	border: none;
	outline: none;
	background: transparent;
	width: 100%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #626262;
	opacity: 0.5;
}

/*------------------------------------main-----------------------------------------------------*/
.main {
	margin: 56px auto 0 auto;
}

.main h1 {
	font-weight: normal;
	font-size: 22px;
	line-height: 34px;
	padding: 0 0 0 8px;
}

.main__body {
	display: flex;
	flex-wrap: wrap;
}

.main__section {
	margin-top: 16px;
}
.main__section figure img {
	width: 100%;
}

.main__item-1 {
	font-size: 16px;
	line-height: 24px;
	margin: 16px 0 0 0;
}
.main__item-1 a {
	text-decoration: none;
	color: #1d1d1d;
	height: 0;
}
.main__item-2 {
	margin: 4px 0 0 0;
	font-size: 14px;
	line-height: 21px;
	color: #626262;
}
.main__item-3 {
	margin: 4px 0 20px 0;
	font-size: 13px;
	line-height: 21px;
	color: #1d1d1d;
}
/*------------------------------------Footer-----------------------------------------------------*/
.footer {
	font-family: Roboto, "Arial", sans-serif;
	position: relative;
	min-height: 552px;

	max-width: 1124px;
	margin: 80px auto 0;
	background: #262626;
}
.footer__body {
	margin: auto;
	max-width: 956px;
}
.footer__section-1 {
	height: 116px;
	/*padding: 56px 0 0 0.62px;
	margin-bottom: 40.38px;*/
}
.footer__section-1 img {
	padding: 56.38px 0 0 0;
}
.line {
	max-width: 962px;
	height: 1px;
	background: #ffffff;
	opacity: 0.4;
}

.footer__section-2 {
	min-height: 220px;
	display: flex;
	/*margin-bottom: 25px;*/
	flex-wrap: wrap;
}

.select {
	margin: 32px 0 0 0;
}

.social-network {
	width: 108px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	margin: 33px 0 0 0;
}
.social-network p {
	height: 19px;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}
.social-network span {
	font-size: 16px;
	line-height: 19px;
	color: #49a144;
}

.social-network__link {
	height: 24px;
	width: 24px;
	margin: 17px 12px 0 0;
}
.footer__row-1 {
	margin-bottom: 40px;
}

.footer__row-2 {
	margin: 39px 0 0 0;
}

.footer__row-2 .item {
	margin: 0 0 23px 0;
	height: 16px;
}
@media screen and (max-width: 767px) {
	.footer__row-2 {
		margin: 0 0 0 0;
	}
	.footer__section-2 {
		margin-bottom: 17px;
	}
}
.footer__row-2 .item a {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	text-decoration: none;
	color: #ffffff;
}
.blok_4 {
	flex-basis: 128px;
}
.footer__section-3 {
	height: 120px;
	display: flex;
	justify-content: center;
}

.footer__section-3 figure {
	height: 40px;
	margin: 40px 17.17px 40px 17.17px;
	padding: 0;
}
.footer__section-4 {
}

.footer__section-4 a {
	font-size: 11px;
	line-height: 13px;
	color: #ffffff;
	text-decoration: none;
}

.section-4__items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 28px 0 28px 0;
}
.section-4__item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 37px;
}

.button-up {
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 24px;
	right: 16px;
}
