* {
	margin: 0;
	padding: 0;
}

.conteiner {
	max-width: 1124px;
	margin: auto;
	font-family: Roboto, "Arial", sans-serif;
}
/*------------------------------------Header-----------------------------------------------------*/
.position_layer {
 	height: 72px;
	z-index:0;
}
.header_position {
   width: 100%;
	position: fixed;
   left: 0;
   z-index: 1000;
}
.header {
	height: 72px;
	max-width: 1124px;
   background-color:  #FFFFFF;
   margin: auto;
   position: relative;
   box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
   display: flex;
   /*justify-content: flex-end;*/
}
.logo {
	/*position: absolute;
   left: 81.38px;
   top: 30px;*/
   margin: 30px 0 0 81.38px;
}
.rest {
	flex-basis: 702.38px;
}
.sign-in {
	
	margin: 16px 27px 0 0;
  	/*position: absolute;
   left: 903px;
   top: 16px;*/
}

.basket {
   margin: 24.21px  0 0;
	/*margin: 24.21px 97.05px 0 0;*/
	/*position: absolute;
   left: 1008px;
   top: 24.21px;*/
}
/*------------------------------------Search-----------------------------------------------------*/

.jumbotron {
	min-height: 364px;
	background: url('img/photo.svg');
	display: flex;
}
.name {
	width: 389px;
	height: 204px;
	background: #FFFFFF;
	box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
	border-radius: 2px;
	margin: 80px 0 0 81px;
	
}
.name h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	height: 42px;
	color: #1D1D1D;
	margin-top: 38px ;
	text-align: center;
}
.blok_1 {
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 54px;
}
.name p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	height: 16px;
	color: #626262;
	margin-left: 38px;
}
.rest_3 {
	background: url('img/Rectangle_3.svg');
	width: 100px;
	height: 32px;
	margin-right: 29px;
	display: flex;

}
.rest_3 p{
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
	margin: auto;
}
/*------------------------------------nav-----------------------------------------------------*/
.nav {
	height: 80px;
	background: #FFFFFF;
	border: 1px solid rgba(117, 117, 117, 0.2);
	display: flex;
}
.spacenav_1 {
	flex-basis: 81px;
}
.navitem {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #327430;
	text-decoration: none;
	margin: 32px 40px 0 0;
}

/*------------------------------------snacks----------------------------------------------------*/
.h2 {
	max-width: 956px;
	height: 122px;
	margin-left: 81px;
}

.h2 h2{
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 34px;
	color: #1D1D1D;
	padding: 56px 0 0 0;
}

.snacks {
	max-width: 956px;
	display: flex;  
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 0 81px;
}

.card {
	display: flex;
	margin-bottom: 49px;
	border: 1px solid rgba(117, 117, 117, 0.2);
	box-sizing: border-box;
	border-radius: 2px;
	height: 162px;
}
.leftpart {
	width: 300px;
	height: 160px;
}
.rightpart {}
.cardtext_1, .cardtext_2, .cardtext_3 {
	margin-left: 16px;
	display: flex;
   align-items: center;
   font-style: normal;
}
.cardtext_1 {
	font-weight: normal;
	font-size: 16px;
	height: 24px;
	color: #1D1D1D;
   margin-top: 16px;
   /*border: 1px solid rgba(117, 117, 117, 0.2);*/
}
.cardtext_2 {
   /*border: 1px solid rgba(117, 117, 117, 0.2);*/
   font-weight: normal;
	font-size: 13px;
	height: 21px;
	color: #626262;
	margin-top: 4px;
}
.cardtext_3 {
	/*border: 1px solid rgba(117, 117, 117, 0.2);*/
	font-weight: 500;
	font-size: 15px;
	height: 21px;
	color: #1D1D1D;
	margin-top: 58px;
}
/*------------------------------------Footer-----------------------------------------------------*/
.footer {
   position: relative;
height: 552px;
margin-top: 31px;

background: #262626;
}
.footer_content {
	margin: auto;
   max-width: 962px;

}
.white-logo {
	height: 116px;
	/*padding: 56px 0 0 0.62px;
	margin-bottom: 40.38px;*/
}
.white-logo img {
	padding: 56.38px 0 0 0.62px;
}
.line {
	max-width: 956px;
	height: 1px;
	background: #FFFFFF;
	opacity: 0.4;
}

.footer_blok {
	height: 220px;
	display: flex;
	/*margin-bottom: 25px;*/
}

.select {
	margin: 32px 0 0 0;
}

.social {
	width: 108px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	margin: 33px 0 0 0;
}
.social p{
	height: 19px;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
.social span{
	font-size: 16px;
	line-height: 19px;
	color: #49A144;
}

.link {
	height: 24px;
	margin: 17px 12px 0 0;
}

.blok_2 {
	flex-basis: 97px;
}

.blok_3 {
	margin: 39px 0 0 0;
}

.blok_3 .item{
	margin: 0 0 23px 0;
	height: 16px;
}

.blok_3 .item a{
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	text-decoration: none;
	color: #FFFFFF;
}
.blok_4 {
	flex-basis: 128px;
}
.app_store {
	height: 120px;
	display: flex;
	justify-content: center;
}

.app_store figure {
	height: 40px;
	margin: 40px 17.17px 40px 17.17px;
	padding: 0;
}
.footer_footer {
	height: 93px;
	display: flex;
	align-items: center;
}

.footer_footer a {
	font-size: 11px;
	line-height: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
.space_1 {
	flex-basis: 174px;
}
.space_2 {
	flex-basis: 148px;
}

.btn-up {
	position: absolute;
	bottom: 24px;
	left: 1028px;
	right: 16px;
}
