* {
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 962px;

	margin: auto;
	font-family: Roboto, "Arial", sans-serif;
}
/*------------------------------------Header-----------------------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}
.header__content {
	height: 72px;
	max-width: 1124px;
	background-color: #ffffff;
	margin: auto;
	position: relative;
	box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.header__body {
	display: flex;
	max-width: 956px;
	height: 72px;
	margin: auto;
	justify-content: space-between;
}
.header__logo {
	margin: 30px 0 0 0;
}
.header__items {
	display: flex;
}
.header__sign-in {
	margin: 16px 27px 0 0;
}
.header__basket {
	margin: 24.21px 10px 0 0;
}
/*------------------------------------jumbotron-----------------------------------------------------*/

.jumbotron {
	max-width: 1124px;
	height: 364px;
	margin: 72px auto;
	background: url("img/photo.svg");
	display: flex;
}
@media screen and (max-width: 767px) {
	.jumbotron {
		background: url("img/photo_1.svg");
	}
}

.name {
	height: 204px;
	background: #ffffff;
	box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
	border-radius: 2px;
	margin: 80px 0 0 0;
}
@media screen and (max-width: 425px) {
	.jumbotron {
		height: 255px;
		background: url("img/photo_3.svg");
	}
	.name {
		height: 180px;

		margin: 131px 0 0 0;
	}
}
.name__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	color: #1d1d1d;
	padding-top: 38px;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.name h2 {
	}
}
.name__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 54px;
}
.name__item-1 {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	height: 16px;
	color: #626262;
	margin-left: 38px;
}
.name__item-2 {
	background: url("img/Rectangle_3.svg");
	width: 100px;
	min-height: 32px;
	margin-right: 29px;
	display: flex;
}
.name__item-2 p {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #ffffff;
	margin: auto;
}
@media screen and (max-width: 768px) {
	.name__item-2 {
		margin-right: 52px;
	}
	.name__item-1 {
		margin-left: 48px;
	}
}

@media screen and (max-width: 425px) {
	.name__title {
		font-size: 24px;
		line-height: 28px;

		padding-top: 24px;
	}
	.name__body {
		display: block;
		margin-top: 40px;
	}

	.name__item-2 {
		margin: auto;
	}
	.name__item-1 {
		margin: auto;
		margin-bottom: 16px;
	}
	.name__item-1 p {
		text-align: center;
	}
}
/*------------------------------------nav-----------------------------------------------------*/
.nav {
	height: 80px;
	background: #ffffff;
	border: 1px solid rgba(117, 117, 117, 0.2);
	display: flex;
}
.spacenav_1 {
	flex-basis: 81px;
}
.navitem {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #327430;
	text-decoration: none;
	margin: 32px 40px 0 0;
}

/*------------------------------------snacks----------------------------------------------------*/
.h2 {
	max-width: 956px;
	height: 122px;
	margin-left: 81px;
}

.h2 h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 34px;
	color: #1d1d1d;
	padding: 56px 0 0 0;
}

.snacks {
	max-width: 956px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 0 81px;
}

.card {
	display: flex;
	margin-bottom: 49px;
	border: 1px solid rgba(117, 117, 117, 0.2);
	box-sizing: border-box;
	border-radius: 2px;
	height: 162px;
}
.leftpart {
	width: 300px;
	height: 160px;
}
.rightpart {
}
.cardtext_1,
.cardtext_2,
.cardtext_3 {
	margin-left: 16px;
	display: flex;
	align-items: center;
	font-style: normal;
}
.cardtext_1 {
	font-weight: normal;
	font-size: 16px;
	height: 24px;
	color: #1d1d1d;
	margin-top: 16px;
	/*border: 1px solid rgba(117, 117, 117, 0.2);*/
}
.cardtext_2 {
	/*border: 1px solid rgba(117, 117, 117, 0.2);*/
	font-weight: normal;
	font-size: 13px;
	height: 21px;
	color: #626262;
	margin-top: 4px;
}
.cardtext_3 {
	/*border: 1px solid rgba(117, 117, 117, 0.2);*/
	font-weight: 500;
	font-size: 15px;
	height: 21px;
	color: #1d1d1d;
	margin-top: 58px;
}
/*------------------------------------Footer-----------------------------------------------------*/
.footer {
	position: relative;
	height: 552px;
	margin-top: 31px;

	background: #262626;
}
.footer_content {
	margin: auto;
	max-width: 962px;
}
.white-logo {
	height: 116px;
	/*padding: 56px 0 0 0.62px;
	margin-bottom: 40.38px;*/
}
.white-logo img {
	padding: 56.38px 0 0 0.62px;
}
.line {
	max-width: 956px;
	height: 1px;
	background: #ffffff;
	opacity: 0.4;
}

.footer_blok {
	height: 220px;
	display: flex;
	/*margin-bottom: 25px;*/
}

.select {
	margin: 32px 0 0 0;
}

.social {
	width: 108px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	margin: 33px 0 0 0;
}
.social p {
	height: 19px;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}
.social span {
	font-size: 16px;
	line-height: 19px;
	color: #49a144;
}

.link {
	height: 24px;
	margin: 17px 12px 0 0;
}

.blok_2 {
	flex-basis: 97px;
}

.blok_3 {
	margin: 39px 0 0 0;
}

.blok_3 .item {
	margin: 0 0 23px 0;
	height: 16px;
}

.blok_3 .item a {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	text-decoration: none;
	color: #ffffff;
}
.blok_4 {
	flex-basis: 128px;
}
.app_store {
	height: 120px;
	display: flex;
	justify-content: center;
}

.app_store figure {
	height: 40px;
	margin: 40px 17.17px 40px 17.17px;
	padding: 0;
}
.footer_footer {
	height: 93px;
	display: flex;
	align-items: center;
}

.footer_footer a {
	font-size: 11px;
	line-height: 13px;
	color: #ffffff;
	text-decoration: none;
}
.space_1 {
	flex-basis: 174px;
}
.space_2 {
	flex-basis: 148px;
}

.btn-up {
	position: absolute;
	bottom: 24px;
	left: 1028px;
	right: 16px;
}
